 
<!--NAVBAR BEGINS-->
  <nav class="navbar">
    <div class="flex justify-around p-1 items-center ">
        <img class="h-[3.62rem] w-[3.5rem] inline mx-2 lg:ml-24 cursor-pointer"
          src="../img/logo_250.png" alt="logo">
          <div class="text-xs sm:text-base w-[30rem] lg:w-[33rem] h-[2.375rem]  ml-3 leading-5 text-[#0054A6]  cursor-pointer font-bold">
            <a href="#" class="navtext"> Dr. B.R Ambedkar National Institute of Technology Jalandhar</a>
          </div>
    </div>

    <ul class="navitems">
      <a href="#"> <li class="navlist">Home</li></a> 
      <a href="#"> <li class="navlist">Placement</li></a> 
      <a href="#">  <li class="navlist">Internship</li></a> 
      <a href="#"> <li class="navlist">Recruit</li></a> 
      <a href="#"> <li class="navlist">Download</li></a> 
      <a href="#"> <li class="navlist">People</li></a> 
      <a href="#">  <li class="navlist">FAQ'S</li></a> 
    </ul>
  </nav>
<!-- NAVBAR ENDS -->





 
 