<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>internships</title>

    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
      * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }

      body {
        font-family: "Poppins";
      }
    </style>
  </head>
  <body>
    <div>
      {{>header}}
    </div>
      <br><br><br><br><br><br> 
    <div>
      <div class="bg-[#002A51] text-white py-24 space-y-8">
      <div class="text-center space-y-3">
        <h6 class="text-7xl text-center font-bold">Internships</h6>
        <p class="font">
          A collection of resources for students at NIT Jalandhar
        </p>
      </div>
      <div class="flex items-center justify-center space-x-10">
       <a href="http://localhost:8085/internship/process"> <button class="border-2 py-2 w-[10rem] hover:bg-[#2069aa] rounded-md" >
          Process
        </button>
        </a>
        <a href="http://localhost:8085/internship/policy"> <button class="border-2 py-2 w-[10rem] hover:bg-[#2069aa] rounded-md" >
          Policy
        </button>
        </a> 
         <a href="http://localhost:8085/internship/insights"> <button class="border-2 py-2 w-[10rem] hover:bg-[#2069aa] rounded-md" >
          Insights
        </button>
        </a>
      </div>
       <br><br><br><br><br><br><br>
    </div>
      <div class="flex justify-center items-center">
        <div class="my-20 max-w-[72vw]">
          <h6 class="text-6xl text-center font-bold">Internship Insights</h6>
          <div class="mt-6 space-y-2 text-center">
            <p>2022-06-28 Aditya Vats: Summer Intern at ITC Limited</p>
            <p>2022-06-28 Aditya Vats: Summer Intern at ITC Limited</p>
            <p>2022-06-28 Aditya Vats: Summer Intern at ITC Limited</p>
            <p>2022-06-28 Aditya Vats: Summer Intern at ITC Limited</p>
            <p>2022-06-28 Aditya Vats: Summer Intern at ITC Limited</p>
            <p>2022-06-28 Aditya Vats: Summer Intern at ITC Limited</p>
            <p>2022-06-28 Aditya Vats: Summer Intern at ITC Limited</p>
            <p>2022-06-28 Aditya Vats: Summer Intern at ITC Limited</p>
            <p>2022-06-28 Aditya Vats: Summer Intern at ITC Limited</p>
            <p>2022-06-28 Aditya Vats: Summer Intern at ITC Limited</p>
          </div>
        </div>
      </div>
    </div>
      <br><br><br><br><br><br> 
    <div>
      {{>footer}}
    </div>
  </body>
</html>
