<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>internships</title>

  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
  <script src="https://cdn.tailwindcss.com"></script>

  <style>
    * {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }

    body {
      font-family: "Poppins";
    }

    #header {
      position: sticky;
      top: 0;
    }
  </style>

  <script>
    function resizeIframe(obj) {
      obj.style.height =
        obj.contentWindow.document.documentElement.scrollHeight + "px";
    }
    function pointToPolicy() {
      ifrm = document.getElementById("iframe");
      ifrm.setAttribute("src", "./policy.html");
    }
    function pointToProcess() {
      ifrm = document.getElementById("iframe");
      ifrm.setAttribute("src", "./process.html");
    }
    function pointToInsights() {
      ifrm = document.getElementById("iframe");
      ifrm.setAttribute("src", "./insights.html");
    }
  </script>
</head>

<body>

  <div>
    {{>header}}
  </div>
  <br><br><br><br><br><br>
  <div class="bg-[#002A51] text-white py-24 space-y-8">
    <div class="text-center space-y-3">
      <h6 class="text-7xl text-center font-bold">Internships</h6>
      <p class="font">
        A collection of resources for students at NIT Jalandhar
      </p>
    </div>
    <div class="flex items-center justify-center space-x-10">
      <button id="policy1" class="border-2 py-2 w-[10rem] hover:bg-[#2069aa] rounded-md">
        Policy
      </button>

      <a href="http://localhost:8085/internship/policy"> <button
          class="border-2 py-2 w-[10rem] hover:bg-[#2069aa] rounded-md">
          Process
        </button>
      </a>
      <a href="http://localhost:8085/internship/insights"> <button
          class="border-2 py-2 w-[10rem] hover:bg-[#2069aa] rounded-md">
          Insights
        </button>
      </a>
    </div>
    

  </div>
   <div id="data">

    </div>
  <br><br><br><br><br><br><br>

  <div>
    {{>footer}}
  </div>
</body>

<script>
  const link = `{{URL}}/Internship/policy`;
  let data1 = document.getElementById("data");
  fetch(link).then(response => response.json()).then(
    data => {
      console.log(data[0].Policy);
      const policy = document.getElementById("policy1");
      policy.addEventListener("click", () => {
        data1.innerHTML = data[0].Policy;
        console.log(data[0].Policy)
      })
    }
  )

</script>

</html>